.swiper-item {
  position: relative;
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 300rpx;
    border-radius: 30rpx;
    overflow: hidden;
  }
}

.swiper-data {
  width: 100%;
  height: 100%;
  border-radius: 30rpx;

  .image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.popup-example-custom-overlay {
  background: rgba(0, 0, 0, 0.3) !important;
}

.popup-example-block {
  padding: 20px 24px;
  width: 250px;
}

.popular {
  margin-top: 20px;

  &-item {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 0 var(--space-size-large-y) 0;
  }

  &-title {
    // font-size: var(--font-size-lg);
    padding: 10px 0;
    display: block;
  }

  .info {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;

    .title {
      font-size: var(--font-size-sm);
    }

    .des {
      font-size: var(--font-size-xs);
      color: var(--text-color-placeholder);
    }
  }
}

.songlist {
  margin-top: 25px;


  &-title {
    padding: 10px 0;
    display: block;
  }

  .songlist-item {
    margin-right: 10px;
  }

  .songbox {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
  }

  .title {
    font-size: var(--font-size-sm);
  }

  .des {
    font-size: var(--font-size-xs);
    color: var(--text-color-placeholder);
  }
}

.container {
  padding: 20px;

}

.btn-icon {
  margin-top: 30px;
}

.app {

  &__border {
    width: 35px;
    height: 35px;
    padding: 3px;
    border: 1px solid rgba(113 119 144 / 25%);
    border-radius: 50%;
  }

  &__bar {
    position: relative;
    z-index: 0;
    width: 100%;
    font-size: var(--app-bar-font-size);
    color: #2a2e32;
    transition: background-color 0.25s;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__toolbar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--app-bar-height);
    }
  }
}