.app {
    padding: 10px;
}

.headbox {
    background-image: url("@/static/user_bg.jpeg");
    background-size: cover;
    height: 150px;
    // opacity: 0.9;
    border-radius: 10px;
    background-repeat: no-repeat;
}